/* Overall CSS */
div {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
}

body {
  background-color: #D6DBDF;
  color: #212F3D;
  font-family: Roboto, serif;
  text-align: center;
  margin: 5px;
}

h1, h2, h3, h4 {
  font-family: Aldrich, serif;
}

h1 {
  color: red;
}

/* Header Div */
#padding {
  padding-bottom: 10px;
}

#padding2 {
  padding-bottom: 30px;
}

/* Profile Pic */
#profile {
  border-radius: 50%;
  max-height: 250px;
}

.button {
  background-color: #AEB6BF;
  padding: 10px;
  background-size: 10px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

  
/* Socials Div */

/*.socials {
  display: flex;
}*/
ul li{
  display: inline-block;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

a:hover {
  color: red;
  text-decoration: none;
}

a{
  color: #AEB6BF;
  text-decoration: none;
}

i {
  font-size: 1.5em;
}

.fa-stack {
  height: 1em;
  line-height: 1em;
  width: 1em;
}

.cv-list-item {
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cv-icon-font {
  font-family: 'Bowlby One SC', cursive;
  font-size: 0.55em;
  /*vertical-align: 90%;*/
  font-weight: bold;
}

/* Languages Div*/

.languages {


}

.language-icons {
  font-size: 2em;
  color: #AEB6BF;}


/* Projects Div */

tr {
/*  padding-bottom: 50px;*/
}

.img-posters {
max-width: 400px;
}

.project-header-link {
    color: black;
}